{% extends "AppBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %} 

  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

	<div class="row col-md-12 text-center">
		{% for price in listPrices %}
		   <div class="bloc col-xs-6 col-sm-6 col-md-2 {% if loop.index == 1 %}col-md-offset-1{% endif %}">
			   <div class="circle {{ price.code|lower }}">
					<p class="pname"> {{ 'site.data.price'|trans }} {{ attribute(price, 'name'~app.request.attributes.get('_locale')) }} </p>
					<p class="pprice">
					{% if price.price > 0 %}
						{{ price.price|number_format_currency('EUR') }}
					{% else %}
						{{ 'site.data.free'|trans }}
					{% endif %}
					</p>
				   <p class="pinfos">{{ attribute(price, 'infos'~app.request.attributes.get('_locale')) }}</p>
			   </div>
		   </div> 
		{% endfor %}

    </div>

<div class="row col-md-12 text-center actions">
	<a class="flat-btn" href="{{ path('checkout_page') }}"> {{ 'site.buttons.order'|trans }} </a>
</div>

{% endblock %}
