{% extends "AppBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Prices
{% endblock %}

{% block body %} 

  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %} 
  
  <style>
	.bloc { height: 175px; }
  </style>
  
	<div class="row col-md-12 text-center"> 
		<div class="bloc col-md-1"> &nbsp; </div>
		{% for price in listPrices %}
		   <div class="bloc col-md-2"> 
				<p> {{ 'site.data.price'|trans }} {{ attribute(price, 'name'~app.request.attributes.get('_locale')) }} </p>
				<p>
				{% if price.price > 0 %}
					{{ price.price|number_format_currency('EUR') }}
				{% else %}
					{{ 'site.data.free'|trans }}
				{% endif %}
				</p>
				<p>{{ attribute(price, 'infos'~app.request.attributes.get('_locale')) }}</p>
		   </div> 
		{% endfor %} 
		<div class="bloc col-md-1"> &nbsp; </div>
		 
		<a class="btn btn-info" href="{{ path('checkout_page') }}"> {{ 'site.buttons.order'|trans }} </a>
   
    </div>

{% endblock %}
